
**/bin/
**/obj/
**/out/

.vs/
.vscode/
.idea/
*.user
*.suo

.git/
.gitignore
.gitattributes

Dockerfile
.dockerignore
docker-compose.yml
docker-compose.*.yml

tests/
*.md
LICENSE

.env
.env.local
appsettings.Local.json